@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background: #000000;
  font-size: 14px;
  line-height: 1;
}

label {
  cursor: pointer;
}


.about {
  min-height: 100vh;
  position: relative;
  padding: 240px 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 70px;
}

.about__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.about__message {
  text-align: center;
  color: #000000;
}

.message__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 5.6rem;
  padding-bottom: 40px;
  max-width: 960px;
  margin: 0 auto;
}

.message__text {
  line-height: 42px;
  font-size: 18px;
  padding: 0 60px;
  max-width: 680px;
  margin: auto;
}

.about__nav {
  max-width: 600px;
  margin: 40px auto 0;
  text-align: center;
}

.about__social {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  z-index: 10;
}

.lamp {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  margin: 0px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center top;
  animation-timing-function: cubic-bezier(0.6, 0, 0.38, 1);
  animation: move 5.1s infinite;
}

@keyframes move {
  0% {
    transform: rotate(40deg);
  }

  50% {
    transform: rotate(-40deg);
  }

  100% {
    transform: rotate(40deg);
  }
}

.cable {
  width: 8px;
  height: 248px;
  background-image: linear-gradient(rgba(177, 2, 104, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(rgb(177, 2, 104, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.cover {
  width: 200px;
  height: 80px;
  background: linear-gradient(rgba(177, 2, 104, 0.7), rgba(0, 0, 0, 0.7));
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  z-index: 200;
}

.in-cover {
  width: 100%;
  max-width: 200px;
  height: 20px;
  border-radius: 100%;
  background: rgba(177, 2, 104, 0.9);
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  bottom: -9px;
  z-index: 100;
}

.in-cover .bulb {
  width: 50px;
  height: 50px;
  background-color: rgba(177, 2, 104, 0.95);
  border-radius: 50%;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  margin: 0px auto;
  -webkit-box-shadow: 0 0 15px 7px rgba(194, 14, 119, 0.8), 0 0 40px 25px rgba(177, 2, 104, 0.8), -75px 0 30px 15px rgba(177, 2, 104, 0.8);
  box-shadow: 0 0 25px 7px rgba(194, 14, 119, 0.8), 0 0 64px 47px rgba(177, 2, 104, 0.8), 0px 0 30px 15px rgba(177, 2, 104, 0.8);
}


.light {
  width: 195px;
  height: 0px;
  border-bottom: 900px solid rgba(226, 112, 226, 0.637);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 270px;
  margin: 0px auto;
  z-index: 1;
  border-radius: 90px 90px 0px 0px;
}


.about {
  overflow: hidden;
  max-height: 100vh;
}

@media (max-width: 1400px) {
  .lamp {
    zoom: .5;
  }

  .about__content {
    top: 55%;
  }

  .message__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 900px) {

  .message__title {
    font-size: 34px;

  }

  .about__content {
    top: 55%;
  }
}

@media (max-width: 750px) {

  body,
  html,
  {
    max-height: 100vh;
  }

  .about__content {
    position: static;
    margin: 0 auto;
    transform: none;
    padding-top: 300px;
  }

  .about {
    padding-top: 0;
    padding-bottom: 100px;
    height: 100vh;
  }
}

@media (max-width: 650px) {
  .message__title {
    font-size: 36px;
    padding-bottom: 20px;
  }

  .message__text {
    font-size: 16px;
    line-height: 2;
    padding-right: 20px;
    padding-left: 20px;
  }

  .lamp {
    zoom: .6;
  }

  .about__content {
    padding-top: 180px;
  }
}

@media (max-width: 480px) {

  .message__title {
    font-size: 30px;
  }

  .message__text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }

  .about__nav {
    margin-top: 20px;
  }
}